.fadeIn {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 0.5s;
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -o-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slideLeft {
  animation: slideLeft 0.5s;
  -webkit-animation: slideLeft 0.5s;
  -moz-animation: slideLeft 0.5s;
  -o-animation: slideLeft 0.5s;
  -ms-animation: slideLeft 0.5s;
}
@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100px);
  }
}
@-moz-keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100px);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100px);
  }
}
@-o-keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100px);
  }
}

.fadeOutLeft {
  animation: fadeOutLeft 0.5s;
  -webkit-animation: fadeOutLeft 0.5s;
  -moz-animation: fadeOutLeft 0.5s;
  -o-animation: fadeOutLeft 0.5s;
  -ms-animation: fadeOutLeft 0.5s;
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}
@-o-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.fadeOutRight {
  animation: fadeOutRight 0.5s;
  -webkit-animation: fadeOutRight 0.5s;
  -moz-animation: fadeOutRight 0.5s;
  -o-animation: fadeOutRight 0.5s;
  -ms-animation: fadeOutRight 0.5s;
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}
@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}
@-o-keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.fadeInLeft {
  animation: fadeInLeft 0.5s;
  -webkit-animation: fadeInLeft 0.5s;
  -moz-animation: fadeInLeft 0.5s;
  -o-animation: fadeInLeft 0.5s;
  -ms-animation: fadeInLeft 0.5s;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fadeInRight {
  animation: fadeInRight 0.5s;
  -webkit-animation: fadeInRight 0.5s;
  -moz-animation: fadeInRight 0.5s;
  -o-animation: fadeInRight 0.5s;
  -ms-animation: fadeInRight 0.5s;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
